/// Block
.addTodoItem {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 12px;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;

  /// Elements
  &__icon {
    flex: 0 0 auto;
    padding: 0 10px;
  }
  &__editor {
    flex: 1 0 auto;
    padding: 4px 8px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 1px #f4f4f4;
    
  }
  &__editor:focus{
    background-color: #f4f4f4;
    outline: 1px solid #cc0000;
    color:#000;
  }

}

.error{
  color:#cc0000;
  font-size: 12px;
  text-align: center;
}