<div class="main__list">
    <div class="rightPanel col-md-3 col-12 d-md-none d-lg-none d-xl-none">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <igx-icon fontSet="material">add</igx-icon> <label>Add New List</label>
          </a>
          <div class="collapse" id="collapseExample">
            
            <div >
                <app-add-todo-item class="todo__addPanel"
                (add)="handleAddEvent($event)">
            </app-add-todo-item>
            </div>
          </div>
    </div> 

    <!-- <h1 class="todoHeading col-12">Todo main Com</h1> -->
    <div class="leftPanel col-md-9 col-12">
        <div class="innerRow col-12" *ngFor="let myPanel of listItem" >
            <h6>{{myPanel.title}}</h6>
            <todo-list></todo-list> 
          </div>  
    </div>    
    <div class="rightPanel col-md-3 col-12 d-sm-none  d-none d-md-block">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <igx-icon fontSet="material">add</igx-icon> <label>Add New List</label>
          </a>
          <div class="collapse" id="collapseExample">
            
            <div >
                <app-add-todo-item class="todo__addPanel"
                (add)="handleAddEvent($event)">
            </app-add-todo-item>
            </div>
          </div>
    </div> 
</div>

