.main__list {
    width: 100%;
    display: flex;
    vertical-align: top;
    align-items: unset;
    padding:20px;
}
.leftPanel{
    // width:80%;
   
    .innerRow{
            width:33%;
            display: inline-block;
            
    }
}
.rightPanel{
    width:20%;
    
}
.igx-button--icon {
    font-size: 1rem;
    padding: 5px;
}
h6{margin-left: 8px;}
a[data-toggle="collapse"] {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
a[data-toggle="collapse"]:hover {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#000;
    cursor: pointer;
}
@media only screen and (max-width: 767px) {
    .main__list{
        padding: 20px 0px;
        display: block;
    }
    .leftPanel{
        // width:80%;
       padding:0px;
        .innerRow{
                width:100%;
                display:block;
                margin-bottom: 20px;
        }
    }
    .rightPanel{
        width:100%;
        
    }
  }
  @media only screen and (max-width: 1024px) {
    .leftPanel{
        .innerRow{
            width:100%;
        }
        
    }
  }
  